* {
    box-sizing: border-box;
    font-family: Arial;

  }
p {font-size: 1em;}

.container {
    max-width: 1400px;
    margin: auto; 
}

header { 
    background-color: #fbf9f9;

}
.container img {
    margin: 0;
    height: 4em;
}
header .nombre {
    margin: 0;
    padding: 10px 10px;
}
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px 12px;
}
header a:hover {
    transition: all 1s;
    color: #BFBFBF;
}
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
 }
 
body { 
    background-color: #BFBFBF;
    margin: 0;
    } 


.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 40vh;
    background-image: url("imagenes/antartida3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fondo-antartida {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 12em;
    width: 13em;
    background-color: #fbf9f9 ;
    border-radius: 20px;
}        
.fondo-antartida img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 7.5em;
    height: 7.5em;
}


.bear {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
}
.section2 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.fondogris1 {
    margin-top: 3em;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 19em;
    height: 12em;
}


.fondogris1 img {
    display: flex;
    margin-top: 1em;
    margin-left: 1.5em;
    width: 8em;
    height: 9em;
}
.fondogris1  p {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    margin-top: -7em;
    margin-left: 9em;
}
.fondogris1 form {
    display: flex;
    margin-left: 12em;
}
.fondogris1 button {
    padding: 1em 2em;
    background-color: #BFBFBF;
    border: 1px solid #b4b2b2;
    box-shadow: 1px 1px 1px #b4b2b2;
    border-radius: 15px;
    margin-left: -1.2em;
    margin-top: -1em;
    cursor: pointer;
}
.fondogris1 button:hover {
    background-color: #aaa9a9;
    transition: all 1s;

}
.boton {
    margin-top: 2em;
}


footer {
    background-color: #D9D9D9;
    margin: 0;
}
footer .container {
    display: flex;
    height: 4em;
}
footer p {
    display: flex;
   font-size: 14px;
   margin-left: 12px;
   margin-top: 2em;
   justify-content: center;
}



@media (min-width: 720px) { 
    header .container {
        flex-direction: row;
        justify-content: space-between;

    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
    }
 
}