* {
    box-sizing: border-box;
    font-family: Arial;

  }

.container {
    max-width: 1400px;
    margin: auto; 
}

header { 
    background-color: #fbf9f9;
    padding: 2.1em;
}

body { 
    background-color: #BFBFBF;
    margin: 0;
    } 
h2 {font-size: 1em;}


header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px;
}
header a:hover {
    transition: all 1s;
    color: #BFBFBF;
}
header div {
    display: flex;
}


div img {
      height: 4em;
      margin-top: -1em;
      margin-left: -1.5em;

}
header nav {
   display: flex;
   flex-direction: column;
   text-align: center;


}

.antartida {
    position: absolute;
    height: 20em;
    width: 100%;
    margin-top: -4em;
}

.fondo-antartida {
    position: relative;
    height: 12em;
    width: 13em;
    background-color: #fbf9f9 ;
    border-radius: 20px;
    margin-left: 1em;
    margin-top: 4em;
}
.fondo-antartida img {
    width: 7.5em;
    height: 7.5em;
    margin-left: 2.8em;
    margin-top: 0.5em;
} 
.bear {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: -0.1em;
}
section {
    height: 90vh;
}
.fondogris1 {
    margin-top: 5em;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 19em;
    height: 12em;
}

.fondogris1 {
  margin-left: 1em;
}
.fondogris1 img {
    display: inline;
    width: 7em;
    height: 7em;
    margin-top: 1em;
    margin-left: 1em;
}
.fondogris1  p {
    font-weight: bold;
    margin-left: 10em;
    margin-top: -5em;
   
}
.fondogris1 form {
    display: inline;
    margin-left: 12em;
}
.fondogris1 button {
    padding: 1em 2em;
    background-color: #BFBFBF;
    border: 1px solid #b4b2b2;
    box-shadow: 1px 1px 1px #b4b2b2;
    border-radius: 15px;
    margin-left: -1.2em;
    margin-top: -1em;
}



.fondogris1-1 {
    margin-left: 1em;
    margin-top: 2em;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 19em;
    height: 12em;
}
.fondogris1-1 img {
    display: inline;
    width: 7em;
    height: 7em;
    margin-top: 2.2em;
    margin-left: 1em;
}
.fondogris1-1  p {
    font-weight: bold;
    margin-left: 10em;
    margin-top: -5em;
   
}
.fondogris1-1 form {
    display: inline;
    margin-left: 12em;
}
.fondogris1-1 button {
    padding: 1em 2em;
    background-color: #BFBFBF;
    border: 1px solid #b4b2b2;
    box-shadow: 1px 1px 1px #b4b2b2;
    border-radius: 15px;
    margin-left: -1.2em;
    margin-top: -1em;
}






footer {
    background-color: #D9D9D9;
    padding: 10px;

}
footer p{
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
 
    
}
.bear-text {
    color: #333131;
}
footer img {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-left: -10px ;
}



